.filter h5{
    display: inline-block;
    font-size: 17px;
}
.filter-list{
    display: inline-block;
    padding-left: 150px;
    margin: 0;
}
.filter-list li{
    list-style: none;
}
.filter-list > li{
    position: relative;
    display: inline-block;
    padding: 0 20px;
}
.filter-list > li:last-child{
    padding-left: 163px;
}
.filter-list > li:last-child > .filter-sub-list{
    right: 0;
}
.filter-sub-list{
    padding: 0;
    background-color: #f0f0f0;
    width: 250px;
    border: 1px solid #dadada;
    position: absolute;
    display: none;
}
.split li{
    width: 50%;
    float: left;
    background-color: #f0f0f0;
}
.filter-sub-list > li > a{
    font-size: 12px;
    border-bottom: 1px dotted #ccc;
    margin: 0 10px;
    padding: 9px 0;
    color: #333;
    display: block;
}
.filter-sub-list > li > a:hover{
    text-decoration: none;
}
.sub-list{
    width: 250px;
    position: absolute;
}
.sub-list2{
    left: 44%;
    width: 50%;
    border: none;
}